@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

body{
    font-family: 'Spartan', sans-serif;
    font-weight: 400;

}
.calcTam{
    font-size: 25px;
    font-weight: 700;
    position: relative;
    top: 15px;
}
.temTam{
    font-size: 10px;
    font-weight: 700;
    position: relative;
    top: -5px;
}
.temaYNums{
    color: white;

}
.fondoCol{
    background-color: #3b4664;
}
.backBottones{
    background-color: #242d45;
}
.NumerosYSignos {

    font-size: 20px;
    text-align: center;
    color: #494c5b;
    background-color: #e9e2da;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #b3a195;
    width: 100%;
    height: 100%;
}
.NumerosYSignos:hover {
    background-color: #ffe2be;
    color: #001065;
    box-shadow: 0 4px #ffb26d;
}
.otros {

    font-size: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #647298;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #414e71;
    width: 100%;
    height: 100%;
}
.otros:hover {
    background-color: #acc4ff;
    color: #3b4664;
    box-shadow: 0 4px #4062af;

}
.igual{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #d03f30;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #8f2114;
    width: 100%;
    height: 100%;
}
.igual:hover {
    background-color: #ff6954;
    color: #2b2b2b;
    box-shadow: 0 4px #d91b02;
}
#centrar {
    width: 1000px;
    margin: 0 auto;
}
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.redondear{
    border-radius: 10px;
}
.slider {
    -webkit-appearance: button;
    appearance: none;
    width: 100%;
    height: 20px;
    background: #252d44;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 40px;
}
.top {

    position: relative;
}

.bottom {
    position: absolute;
}
.labText{
    top: 15px;
    position: relative;
    color: #ffffff;
    font-size: 60px;
    text-align-last: right;
    width: 100%;
    height: 100px;

}
.labDiv{
    background-color: #181f32;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    text-align-last: right;

}










.fondoColT2{
    background-color: #17062a;
}
.NumerosYSignosT2 {

    font-size: 20px;
    text-align: center;
    color: #f9e232;
    background-color: #331b4d;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #bd16f3;
    width: 100%;
    height: 100%;
}
.NumerosYSignosT2:hover {
    background-color: #7746bb;
    color: #fff1c4;
    box-shadow: 0 4px #bd67ff;
}
.otrosT2 {

    font-size: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #56077c;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #be16f4;
    width: 100%;
    height: 100%;
}
.otrosT2:hover {
    background-color: #880bc5;
    color: #250044;
    box-shadow: 0 4px #d697ff;

}
.igualT2{
    font-size: 20px;
    text-align: center;
    color: #00383b;
    background-color: #00ddce;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #6ef8ef;
    width: 100%;
    height: 100%;
}
.igualT2:hover {
    background-color: #8ffff7;
    color: #006e72;
    box-shadow: 0 4px #d4fffa;
}
.labTextT2{
    top: 15px;
    position: relative;
    color: #fde647;
    font-size: 60px;
    text-align-last: right;
    width: 100%;
    height: 100px;

}
.labDivT2{
    background-color: #1e0836;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    text-align-last: right;

}
.backBottonesT2{
    background-color: #1e0836;
}
.temaYNumsT2{
    color: #fce547;

}
.sliderT2 {
    -webkit-appearance: button;
    appearance: none;
    width: 100%;
    height: 20px;
    background: #1e0836;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 40px;
}







.fondoColT3{
    background-color: #e5e5e5;
}
.NumerosYSignosT3 {

    font-size: 20px;
    text-align: center;
    color: #3b3a35;
    background-color: #e4e3df;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #a59b90;
    width: 100%;
    height: 100%;
}
.NumerosYSignosT3:hover {

    background-color: #ffba73;
    color: #853902;
    box-shadow: 0 4px #ff6f02;
}
.otrosT3 {

    font-size: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #388085;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #19575f;
    width: 100%;
    height: 100%;
}
.otrosT3:hover {
    background-color: #63d4de;
    color: #003334;
    box-shadow: 0 4px #b0edff
;

}
.igualT3{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #c75402;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #863901;
    width: 100%;
    height: 100%;
}
.igualT3:hover {
    background-color: #ff8837;
    color: #853902;
    box-shadow: 0 4px #c55600;
}
.labTextT3{
    top: 15px;
    position: relative;
    color: #313128;
    font-size: 60px;
    text-align-last: right;
    width: 100%;
    height: 100px;

}
.labDivT3{

    background-color: #ededed;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    text-align-last: right;

}
.backBottonesT3{
    background-color: #d2cccc;
}
.temaYNumsT3{
    color: #32332b;

}
.sliderT3 {
    -webkit-appearance: button;
    appearance: none;
    width: 100%;
    height: 20px;
    background: #d3cccc;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 40px;
}